* {
    box-sizing: border-box;
  }

  body {
    background-color: #ccf2ff;
    font-family: 'Overpass', sans-serif;
  }

  .alert_img {
    display: none;
  }

  .icon {
    float: left;
    width: 125px;
    height: 125px;
    margin-right: 20px;
    display: none;
  }

  .disclaimer {
    font-style: italic;
  }

  .max-results {
    padding-left: 20px;
  }

  .hidden {
    visibility: hidden;
  }

  a {
    color:#ff1a1a;
  }

  a:visited {
    color:#5200cc;
  }

  a:hover {
    color:#e68a00;
  }

  .field {
    font-weight: bold;
  }

  .extra_row {
    height: 75px;
    color: black;
  }

  header {
      font-size: 1.25em;
  }

  .search_notes {
    font-size: .75em;
  }

  .alert_img {
    width: 25%;
    height: 25%;
    display: unset;
    }

    .disclaimer {
      font-size: 70%;
    }
    
    table {
        overflow-x: auto;
        display: block;
    }

    table, th {
      border: 1px solid black;
      background-color: beige;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
  
    th, td {
      display: flex;
      text-align: left;
      padding: 4px;
    }

    .blank_row {
      height: 30px;
      background-color: #FFFFFF;
    }

    .max-results {
      display: inline-block;
      padding-left: 0px;
    }

    #searchbutton {
      background-color: #aeb7b8;
      border: none;
      color: black;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-family: 'Overpass', sans-serif;
      }

      .icon {
        display: none;
      }

      .recall {
        display: none;
      }

@media screen and (min-width: 680px) {

  .alert_img {
    display: none;
  }

  .recall {
    display: unset;
  }

  .icon {
    float: left;
    width: 125px;
    height: 125px;
    margin-right: 20px;
    display: unset;
  }

  .disclaimer {
    font-size: 100%;
  }

  .search_notes {
    font-size: 1em;
  }

  #searchbutton {
    background-color: #aeb7b8;
    border: none;
    color: black;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    }

  th, td {
    text-align: left;
    padding: 8px;
  }

  .extra_row {
    height: 80px;
  }

  }